Yusta.yml
app:
  description: "Ассистент-помощник для написания документации по продукту. \n\nFor\
    \ those who come after (с)"
  icon: d11e8bd6-d9ca-4d31-863f-8f00750a3141
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Yusta
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.40@1d12045e32101ae6f211d51c0f1f357dad5976b6c1189e19e39b609554cc4f7e
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: ''
    id: d4c742e1-07ea-448c-a179-7b0e2558575f
    name: question
    selector:
    - conversation
    - question
    value: []
    value_type: array[string]
  - description: Для внесения исправления
    id: aa13d057-151f-4893-98b8-0d0101aaa085
    name: article
    selector:
    - conversation
    - article
    value: ''
    value_type: string
  - description: ''
    id: 5936b68a-3fc4-479f-b15f-cbf69358d99e
    name: forResultIteration
    selector:
    - conversation
    - forResultIteration
    value: ''
    value_type: string
  - description: ''
    id: 8791a5c4-3ce5-4905-b7aa-8588789daf8e
    name: context
    selector:
    - conversation
    - context
    value: ''
    value_type: string
  - description: ''
    id: ba24652c-8443-4bda-81ec-f06b5902de5f
    name: keep_alive
    selector:
    - conversation
    - keep_alive
    value: false
    value_type: boolean
  - description: ''
    id: 8f96b8dd-e993-4f8b-9dae-da6dc03310c1
    name: type
    selector:
    - conversation
    - type
    value: none
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: "Привет!\nЯ — экспертный ИИ-ассистент Юста. Моя специализация\
      \ — создание и аудит технической документации по программным продуктам.\n\n\
      Моя цель — помочь  быстро создать качественную документацию, описывающую пользовательский\
      \ интерфейс, в интерактивном режиме. \n\nЧем тебе помочь сейчас?"
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - Помочь написать документацию
    - Провести аудит документации
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1759249821173-source-1759413282408-target
      selected: false
      source: '1759249821173'
      sourceHandle: source
      target: '1759413282408'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1759413282408-true-1759251551848-target
      selected: false
      source: '1759413282408'
      sourceHandle: 'true'
      target: '1759251551848'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1759413282408-false-1759432952420-target
      selected: false
      source: '1759413282408'
      sourceHandle: 'false'
      target: '1759432952420'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1759432952420-true-1759433096374-target
      selected: false
      source: '1759432952420'
      sourceHandle: 'true'
      target: '1759433096374'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1759432952420-fc651a52-1e1f-4607-8cd2-5f3dd10708bd-1759433199287-target
      selected: false
      source: '1759432952420'
      sourceHandle: fc651a52-1e1f-4607-8cd2-5f3dd10708bd
      target: '1759433199287'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1759432952420-false-1759433251847-target
      selected: false
      source: '1759432952420'
      sourceHandle: 'false'
      target: '1759433251847'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1759433096374-source-1759438620189-target
      selected: false
      source: '1759433096374'
      sourceHandle: source
      target: '1759438620189'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: assigner
      id: answer-source-1759433824010-target
      selected: false
      source: answer
      sourceHandle: source
      target: '1759433824010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1759413282408-f0b4c246-9e4c-456a-91ac-55742eddf9ae-1762968397084-target
      selected: false
      source: '1759413282408'
      sourceHandle: f0b4c246-9e4c-456a-91ac-55742eddf9ae
      target: '1762968397084'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 17640030900710-source-answer-target
      selected: false
      source: '17640030900710'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1759413282408-b8029ad8-1d22-41ac-8bbd-7df0ebaf2d81-1764090843993-target
      selected: false
      source: '1759413282408'
      sourceHandle: b8029ad8-1d22-41ac-8bbd-7df0ebaf2d81
      target: '1764090843993'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1764090843993-source-1764090858027-target
      selected: false
      source: '1764090843993'
      sourceHandle: source
      target: '1764090858027'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1764090858027-true-1759434378520-target
      selected: false
      source: '1764090858027'
      sourceHandle: 'true'
      target: '1759434378520'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: template-transform
      id: 1764093799038-source-17640030900710-target
      selected: false
      source: '1764093799038'
      sourceHandle: source
      target: '17640030900710'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1764090858027-false-1762968397084-target
      selected: false
      source: '1764090858027'
      sourceHandle: 'false'
      target: '1762968397084'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: assigner
      id: 1762968397084-source-1764093799038-target
      selected: false
      source: '1762968397084'
      sourceHandle: source
      target: '1764093799038'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: answer
      id: 1759433199287-source-1764675296272-target
      selected: false
      source: '1759433199287'
      sourceHandle: source
      target: '1764675296272'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1759251551848-source-1764678080257-target
      source: '1759251551848'
      sourceHandle: source
      target: '1764678080257'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1764678080257-source-1759251728633-target
      source: '1764678080257'
      sourceHandle: source
      target: '1759251728633'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Начало
        type: start
        variables: []
      height: 72
      id: '1759249821173'
      position:
        x: -504.34889944318047
        y: 304.06828692922613
      positionAbsolute:
        x: -504.34889944318047
        y: 304.06828692922613
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17640030900710.output#}}

          Двигаемся дальше или нужно что-то /скорректировать?'
        desc: ''
        selected: false
        title: Ответ
        type: answer
        variables: []
      height: 133
      id: answer
      position:
        x: 2032.574787076955
        y: 293.5059449211261
      positionAbsolute:
        x: 2032.574787076955
        y: 293.5059449211261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: pro
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 0009f533-e2a4-4656-ac00-b208b3cefb27
          role: system
          text: "Ты — аудитор документации Юста. Твоя задача — анализировать текст\
            \ статьи пользователя и давать дружелюбный, структурированный аудит. \n\
            \n⚠️ Важно:  \n- Используй текст статьи пользователя как основу для анализа.\
            \  \n- Не выводи JSON в чат. JSON нужен только для внутренней логики и\
            \ проверки SGR.  \n- Вывод пользователю должен быть читаемым текстом,\
            \ с подзаголовками, списками и абзацами.  \n- Давай рекомендации, вопросы\
            \ для уточнения и общую оценку.  \n\nПринципы аудита:  \n1. Проверяй полноту\
            \ следующих параметров: \n   - Цель функции  \n   - Пользовательский сценарий\
            \  \n   - Интерфейсные элементы  \n   - Логика работы системы  \n   -\
            \ Ограничения и зависимости  \n   - Ожидаемый результат  \n\n2. Для каждого\
            \ параметра:  \n   - Если он раскрыт полностью → отмечай в SGR как True.\
            \  \n   - Если отсутствует или частично раскрыт → формулируй дружелюбный\
            \ вопрос или предложение для исправления и отмечай как False.  \n\n3.\
            \ Генерируй только текст:  \n   - Списки проблем (issues)  \n   - Списки\
            \ рекомендаций (suggestions)  \n   - Списки вопросов (questions)  \n \
            \  - Общую оценку (overall_score)  \n\n4. Пример формата для пользователя\
            \ (не JSON):  \n\n---\nЯ просмотрел вашу статью и предлагаю следующие\
            \ улучшения:\n\n### ⚠️ Найденные проблемы\n- Проблема 1\n- Проблема 2\n\
            \n### \U0001F4A1 Рекомендации по улучшению\n- Как можно исправить 1\n\
            - Как можно исправить 2\n\n### ❓ Вопросы для уточнения\n- Вопрос 1\n-\
            \ Вопрос 2\n\n### \U0001F3C6 Общая оценка\nТребует доработок\n---\n\n\
            5. Внутренний JSON для SGR формируется отдельно (для проверки схемы) и\
            \ не показывается пользователю."
        - id: 81e75ae1-d585-471d-bc3a-0e09b48b3af5
          role: user
          text: '{{#sys.query#}}'
        selected: false
        structured_output:
          schema:
            $schema: http://json-schema.org/draft-07/schema#
            properties:
              context_completeness:
                description: Assessment of completeness of critical parameters from
                  the generation schema
                properties:
                  behavior_detailed:
                    description: Whether system behavior, states and logic are detailed
                    type: boolean
                  behavior_detailed_reason:
                    description: Justification based on user text
                    type: string
                  interface_described:
                    description: Whether interface elements and their roles are described
                    type: boolean
                  interface_described_reason:
                    description: Justification based on user text
                    type: string
                  limitations_defined:
                    description: Whether limitations and dependencies are described
                    type: boolean
                  limitations_defined_reason:
                    description: Justification based on user text
                    type: string
                  purpose_clear:
                    description: Whether the feature's purpose is fully and clearly
                      described
                    type: boolean
                  purpose_clear_reason:
                    description: Justification based on user text
                    type: string
                  result_clear:
                    description: Whether the expected outcome is clear
                    type: boolean
                  result_clear_reason:
                    description: Justification based on user text
                    type: string
                  scenario_clear:
                    description: Whether the main user scenario is clearly described
                    type: boolean
                  scenario_clear_reason:
                    description: Justification based on user text
                    type: string
                required:
                - purpose_clear
                - purpose_clear_reason
                - scenario_clear
                - scenario_clear_reason
                - interface_described
                - interface_described_reason
                - behavior_detailed
                - behavior_detailed_reason
                - limitations_defined
                - limitations_defined_reason
                - result_clear
                - result_clear_reason
                type: object
              issues:
                description: List of identified problems, inconsistencies or format
                  violations
                items:
                  minLength: 1
                  type: string
                type: array
              overall_score:
                description: Short summary evaluation of the article quality
                enum:
                - Отлично
                - Хорошо
                - Требует доработок
                - Недостаточно данных
                type: string
              questions:
                description: Clarifying questions for missing or incomplete context
                items:
                  minLength: 1
                  type: string
                type: array
              suggestions:
                description: Concrete improvement proposals, including example formulations
                items:
                  minLength: 1
                  type: string
                type: array
            required:
            - issues
            - suggestions
            - questions
            - context_completeness
            - overall_score
            title: Documentation Article Audit Output
            type: object
        structured_output_enabled: true
        title: Аудит
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1759251551848'
      position:
        x: 1126.0758728516603
        y: 493.9497279407348
      positionAbsolute:
        x: 1126.0758728516603
        y: 493.9497279407348
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1764678080257.output#}}'
        desc: ''
        selected: false
        title: Ответ 2
        type: answer
        variables: []
      height: 101
      id: '1759251728633'
      position:
        x: 1726.6652045082415
        y: 493.9497279407348
      positionAbsolute:
        x: 1726.6652045082415
        y: 493.9497279407348
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: b8029ad8-1d22-41ac-8bbd-7df0ebaf2d81
          conditions:
          - comparison_operator: contains
            id: fb400b16-cd84-4073-a0b6-c4751cbc6b70
            value: approve
            varType: string
            variable_selector:
            - conversation
            - type
          id: b8029ad8-1d22-41ac-8bbd-7df0ebaf2d81
          logical_operator: and
        - case_id: f0b4c246-9e4c-456a-91ac-55742eddf9ae
          conditions:
          - comparison_operator: contains
            id: 78fe3b2e-9473-4913-ac50-162737523d2b
            value: synthesis
            varType: string
            variable_selector:
            - conversation
            - type
          id: f0b4c246-9e4c-456a-91ac-55742eddf9ae
          logical_operator: and
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: bd7359e3-66ee-49bf-81f3-4b4ba89a22d2
            value: audit
            varType: string
            variable_selector:
            - conversation
            - type
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: ЕСЛИ/ИНАЧЕ
        type: if-else
      height: 219
      id: '1759413282408'
      position:
        x: -119.30378987029542
        y: 304.06828692922613
      positionAbsolute:
        x: -119.30378987029542
        y: 304.06828692922613
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: fc651a52-1e1f-4607-8cd2-5f3dd10708bd
          conditions:
          - comparison_operator: contains
            id: a1d1b2aa-a750-4897-8cc1-1cdc3ae263b9
            value: Провести аудит документации
            varType: string
            variable_selector:
            - sys
            - query
          id: fc651a52-1e1f-4607-8cd2-5f3dd10708bd
          logical_operator: and
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 9b4b3542-0e26-414e-ae33-a423e3a1a61c
            value: Помочь написать документацию
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: ЕСЛИ/ИНАЧЕ 2
        type: if-else
      height: 171
      id: '1759432952420'
      position:
        x: 256.6516385478666
        y: 554.9127553780186
      positionAbsolute:
        x: 256.6516385478666
        y: 554.9127553780186
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: synthesis
          variable_selector:
          - conversation
          - type
          write_mode: over-write
        selected: false
        title: Назначение переменной
        type: assigner
        version: '2'
      height: 83
      id: '1759433096374'
      position:
        x: 618.4243761723734
        y: 684.4557540194866
      positionAbsolute:
        x: 618.4243761723734
        y: 684.4557540194866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: audit
          variable_selector:
          - conversation
          - type
          write_mode: over-write
        selected: false
        title: Назначение переменной 2
        type: assigner
        version: '2'
      height: 83
      id: '1759433199287'
      position:
        x: 618.4243761723734
        y: 543.7084953226407
      positionAbsolute:
        x: 618.4243761723734
        y: 543.7084953226407
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Пожалуйста, выбери из двух вариантов, или напиши в чат "Помочь написать
          документацию" / "Провести аудит документации"
        desc: ''
        selected: false
        title: Ответ 3
        type: answer
        variables: []
      height: 147
      id: '1759433251847'
      position:
        x: 618.4243761723734
        y: 835.688903702475
      positionAbsolute:
        x: 618.4243761723734
        y: 835.688903702475
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        items:
        - input_type: constant
          operation: set
          value: approve
          variable_selector:
          - conversation
          - type
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '17640030900710'
          - output
          variable_selector:
          - conversation
          - article
          write_mode: over-write
        selected: false
        title: Назначение переменной 3
        type: assigner
        version: '2'
      height: 109
      id: '1759433824010'
      position:
        x: 2328.0030849544046
        y: 293.5059449211261
      positionAbsolute:
        x: 2328.0030849544046
        y: 293.5059449211261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Отлично, рада была помочь, обращайся \(^_^)/
        desc: ''
        selected: false
        title: Ответ 4
        type: answer
        variables: []
      height: 115
      id: '1759434378520'
      position:
        x: 1116.981573452598
        y: 45.18580839667152
      positionAbsolute:
        x: 1116.981573452598
        y: 45.18580839667152
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "Следуй шагам ниже, и всё получится :)\n\n1️⃣ Подготовь данные\n\n\
          Что нужно собрать заранее:\n1. Назначение формы или фичи\n2. Формы, элементы\
          \ и поля\n3. Сценарии использования\n4. Зависимости, настройки и особенности\n\
          \nЕсли чего-то не хватит я задам тебе уточняющие вопросы.\n\n2️⃣ Начни с\
          \ простого\n\nОпиши всё, что знаешь — в свободной форме, с логичным разделением\
          \ на абзацы. Например:\n\n\"При выборе способа авторизации По паролю отображаются\
          \ по умолчанию пустые поля Электронная почта и Пароль. При хоть одном незаполненном\
          \ поле и нажатии кнопки Далее отобразится информационное сообщение «Введите\
          \ логин и пароль для авторизации». \"\n\n3️⃣ Я создам черновик статьи, разобью\
          \ текст на абзацы и списки для лучшей читаемости. Если данных не хватает,\
          \ сформируется блок «Уточняющие вопросы». Отвечай на них кратко и по существу,\
          \ без рассуждений — это важно для точности документа.\n\n4️⃣ После повторной\
          \ генерации твои ответы добавятся в новый вариант статьи. \n\nЕсли данных\
          \ не хватает, блок «Уточняющие вопросы» сформируется снова.\n\n5️⃣ Проверь\
          \ итог\n\nФинальный документ должен быть:\n1. Формальным и безличным\n2.\
          \ Структурированным\n3. С корректным использованием терминологии\n4. Читаемым\
          \ и логичным.\n\n✅ Быстрая самопроверка\n\nПеред завершением убедись, что\
          \ документ содержит:\n1. Все формы и элементы интерфейса\n2. Логику работы\
          \ формы/ фичи\n3. Все ответы на уточняющие вопросы"
        desc: ''
        selected: false
        title: Ответ 5
        type: answer
        variables: []
      height: 739
      id: '1759438620189'
      position:
        x: 1110.2018623319782
        y: 848.4557540194866
      positionAbsolute:
        x: 1110.2018623319782
        y: 848.4557540194866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: pro-2026-03-01
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_config:
          jinja2_variables:
          - value_selector:
            - conversation
            - article
            variable: article
          - value_selector:
            - sys
            - query
            variable: query
        prompt_template:
        - id: 793c0f12-9b01-4588-8a7a-9865c4ca52c4
          role: system
          text: "Ты — ИИ-ассистент Юста. Твоя задача — на основе текста пользователя\
            \ создать структурированную, читаемую и красивую техническую статью о\
            \ фиче программного продукта.\n\nСтиль:\n- Итоговый текст строгий, формальный,\
            \ безличный.\n- Текст должен быть живым и читаемым: используем абзацы,\
            \ маркированные списки (-) и подзаголовки уровня ###.\n- Не использовать\
            \ заголовки первого уровня.\n- Любой поток пользователя (даже неструктурированный)\
            \ преобразуется в нормализованную документацию.\n\nПринцип работы:\n1.\
            \ Анализируй текст пользователя и извлекай ключевое:\n   - Цель фичи\n\
            \   - Основной пользовательский сценарий\n   - Интерфейсные элементы и\
            \ их роль\n   - Логика и поведение системы\n   - Ограничения и зависимости\n\
            \   - Ожидаемый результат\n\n2. Формируй текст красиво и структурировано:\n\
            \   - purpose — краткое, ёмкое и понятное описание фичи\n   - properties\
            \ — подробное описание работы и характеристик, разделённое на смысловые\
            \ блоки, с абзацами, списками и подзаголовками (где уместно)\n   - Если\
            \ информации по какому-либо критическому параметру недостаточно — формируй\
            \ конкретный вопрос и добавляй его в массив questions\n\n3. Жёсткий анализ\
            \ полноты:\n   - Для каждого критического параметра проверяй полноту\n\
            \   - Если параметр отсутствует или частично раскрыт — формируй конкретный\
            \ вопрос\n   - Даже частичная информация должна порождать вопрос\n   -\
            \ Вопросы дружелюбные, конкретные и ясные\n\n4. Формат структурного выхода\
            \ (JSON):\n{\n  \"title\": \"<заголовок статьи>\",\n  \"purpose\": \"\
            <краткое описание>\",\n  \"properties\": \"<подробное описание со списками\
            \ и подзаголовками>\",\n  \"questions\": [\"<вопрос 1>\", \"<вопрос 2>\"\
            , \"...\"]\n}\n\n5. Важно:\n- Раздел questions формируется обязательно,\
            \ если хоть один параметр недостаточно раскрыт\n- Всегда использовать\
            \ списки и подзаголовки для структуры\n- Преобразовывать любой поток текста\
            \ пользователя в нормализованную, красивую документацию\n- Выдавай результат\
            \ только на русском языке"
        - edition_type: jinja2
          id: db848324-2bfb-415d-822c-4ffdaaf4b5cd
          jinja2_text: '{% if article %}

            Пользователь попросил внести в его статью

            {{ article }}

            следующие коррективы

            {% endif %}

            {{ query }}'
          role: user
          text: dd
        selected: true
        structured_output:
          schema:
            $schema: http://json-schema.org/draft-07/schema#
            properties:
              context_completeness:
                description: Assessment of context completeness for critical documentation
                  parameters
                properties:
                  behavior_detailed:
                    description: Whether system behavior, states and logic are detailed
                    type: boolean
                  behavior_detailed_reason:
                    description: Clear justification for the behavior_detailed assessment,
                      citing specific parts of user input
                    type: string
                  interface_described:
                    description: Whether the interface elements and their roles are
                      described
                    type: boolean
                  interface_described_reason:
                    description: Clear justification for the interface_described assessment,
                      citing specific parts of user input
                    type: string
                  limitations_defined:
                    description: Whether limitations, dependencies or constraints
                      are defined
                    type: boolean
                  limitations_defined_reason:
                    description: Clear justification for the limitations_defined assessment,
                      citing specific parts of user input
                    type: string
                  purpose_clear:
                    description: Whether the feature's purpose and goals are clearly
                      described
                    type: boolean
                  purpose_clear_reason:
                    description: Clear justification for the purpose_clear assessment,
                      citing specific parts of user input
                    type: string
                  result_clear:
                    description: Whether the expected outcome of using the feature
                      is clear
                    type: boolean
                  result_clear_reason:
                    description: Clear justification for the result_clear assessment,
                      citing specific parts of user input
                    type: string
                  scenario_clear:
                    description: Whether the main user scenarios and usage steps are
                      clear
                    type: boolean
                  scenario_clear_reason:
                    description: Clear justification for the scenario_clear assessment,
                      citing specific parts of user input
                    type: string
                required:
                - purpose_clear
                - purpose_clear_reason
                - scenario_clear
                - scenario_clear_reason
                - interface_described
                - interface_described_reason
                - behavior_detailed
                - behavior_detailed_reason
                - limitations_defined
                - limitations_defined_reason
                - result_clear
                - result_clear_reason
                type: object
              properties:
                description: Detailed technical description of behavior, logic and
                  characteristics
                type: string
              purpose:
                description: Short executive summary of the functionality
                type: string
              questions:
                default: []
                description: List of clarifying questions for missing or incomplete
                  context; generated based on context_completeness assessment
                items:
                  type: string
                type: array
              title:
                description: Article title generated by LLM
                type: string
            required:
            - title
            - context_completeness
            - purpose
            - properties
            title: Documentation Article Generation Output
            type: object
        structured_output_enabled: true
        title: Сборщик контекста
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1762968397084'
      position:
        x: 1110.2018623319782
        y: 293.5059449211261
      positionAbsolute:
        x: 1110.2018623319782
        y: 293.5059449211261
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1762969275082'
        selected: false
        template: "\r\n# {{ title }}\r\n\r\n## \U0001F3AF Краткое описание\r\n{{ purpose\
          \ }}\r\n\r\n---\r\n\r\n## \U0001F4D8 Работа и свойства\r\n{{ properties\
          \ }}\r\n\r\n{% if questions %}\r\n## Уточняющие вопросы\r\n  {% for question\
          \ in questions %} \r\n- {{question}}\r\n  {% endfor %}\r\n{% endif %}"
        title: Шаблон (1)
        type: template-transform
        variables:
        - value_selector:
          - '1762968397084'
          - structured_output
          - title
          value_type: object
          variable: title
        - value_selector:
          - '1762968397084'
          - structured_output
          - purpose
          value_type: object
          variable: purpose
        - value_selector:
          - '1762968397084'
          - structured_output
          - properties
          value_type: object
          variable: properties
        - value_selector:
          - '1762968397084'
          - structured_output
          - questions
          value_type: object
          variable: questions
      height: 51
      id: '17640030900710'
      position:
        x: 1738.059243245528
        y: 293.9331271940771
      positionAbsolute:
        x: 1738.059243245528
        y: 293.9331271940771
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: lite
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: d7e702c9-8330-44be-babe-2b2f06645b69
          role: system
          text: "Ваша задача — определить, доволен ли пользователь ответом и можно\
            \ ли завершить чат, или он хочет внести изменения и чат нужно продолжить.\n\
            1. Завершить чат \nВыбирайте этот класс только если выполняется все условия:\n\
            Пользователь явно или неявно выражает согласие, одобрение, благодарность\
            \ или завершение работы.\nВ сообщении нет просьб о внесении правок, уточнений,\
            \ дополнений, исправлений или предоставлении новых данных.\nПользователь не отвечает\
            \ на ваши уточняющие вопросы.\nПримеры фраз для завершения:\n\"Спасибо,\
            \ всё отлично\"\n\"Да, подходит\"\n\"То, что нужно\"\n\"Отлично, сохраняем\"\
            \n\"Можно завершать\"\n\"Всё, больше ничего не нужно\"\n\"Готово, спасибо\"\
            \n2. Продолжить чат \nВыбирайте этот класс, если выполняется любое из\
            \ условий:\nПользователь выражает неудовлетворённость, сомнение или просит\
            \ что-то уточнить.\nЕсть любая просьба изменить, добавить, исправить,\
            \ переформулировать, дополнить или объяснить.\nПользователь явно или косвенно\
            \ даёт понять, что работа ещё не завершена (например, \"Продолжай\", \"\
            Ещё не всё\").\nПользователь отвечает на ваши уточняющие вопросы (например,\
            \ “Да, это основная форма”, “Нет, поле необязательное”). Чат в этом случае продолжается\
            \ всегда.\nПримеры фраз для продолжения:\n\"Давай внесём правки\"\n\"\
            Не совсем то\"\n\"Нужно немного изменить\"\n\"Добавь, пожалуйста…\"\n\"\
            Хочу уточнить кое-что\"\n\"Можно переформулировать вот этот пункт\"\n\"\
            Продолжай\"\n\"Ещё не всё\"\n\"Мне не нравится этот абзац\"\n\"Нужно дополнить\"\
            \n(Любые ответы на уточняющие вопросы)\nГлавное правило:\nПри малейшем\
            \ сомнении или признаке того, что пользователь хочет что-то изменить,\
            \ уточнить или дополнить — всегда выбирайте класс 2 (Continue_Chat). Ваш\
            \ приоритет — не допустить преждевременного завершения чата. Завершайте\
            \ диалог только при явном и однозначном подтверждении удовлетворённости\
            \ от пользователя."
        selected: false
        structured_output:
          schema:
            properties:
              continue_chat:
                description: Основной флаг продолжения чата (true - продолжить, false
                  - завершить)
                type: boolean
              final_reasoning:
                description: Итоговое обоснование принятого решения о продолжении/завершении
                  чата
                type: string
              no_requests_for_changes:
                description: Отсутствие просьб о правках, уточнениях, дополнениях
                  или новых данных
                type: boolean
              no_requests_for_changes_reason:
                description: Обоснование отсутствия запросов на изменения
                type: string
              user_answering_clarifying_questions:
                description: Пользователь отвечает на блок уточняющих вопросов
                type: boolean
              user_answering_clarifying_questions_reason:
                description: Обоснование того, является ли сообщение ответом на уточняющие
                  вопросы
                type: string
              user_expresses_satisfaction:
                description: Пользователь выражает согласие, одобрение, благодарность
                  или завершение работы
                type: boolean
              user_expresses_satisfaction_reason:
                description: Обоснование выражения удовлетворения пользователем
                type: string
              user_requests_changes:
                description: Пользователь просит внести изменения, уточнить, дополнить
                  или исправить
                type: boolean
              user_requests_changes_reason:
                description: Обоснование запросов на изменения от пользователя
                type: string
              work_incomplete_indication:
                description: Пользователь явно или косвенно указывает, что работа
                  не завершена
                type: boolean
              work_incomplete_indication_reason:
                description: Обоснование признаков незавершенности работы
                type: string
            required:
            - continue_chat
            - user_expresses_satisfaction
            - user_expresses_satisfaction_reason
            - no_requests_for_changes
            - no_requests_for_changes_reason
            - user_answering_clarifying_questions
            - user_answering_clarifying_questions_reason
            - user_requests_changes
            - user_requests_changes_reason
            - work_incomplete_indication
            - work_incomplete_indication_reason
            - final_reasoning
            type: object
        structured_output_enabled: true
        title: Завершитель
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1764090843993'
      position:
        x: 256.6516385478666
        y: 223.28265514384296
      positionAbsolute:
        x: 256.6516385478666
        y: 223.28265514384296
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 4593c1e5-cddc-4e15-b8f8-a58f0575d852
            value: 'false'
            varType: object
            variable_selector:
            - '1764090843993'
            - structured_output
            - continue_chat
          id: 'true'
          logical_operator: and
        selected: false
        title: ЕСЛИ/ИНАЧЕ 3
        type: if-else
      height: 123
      id: '1764090858027'
      position:
        x: 618.4243761723734
        y: 105.05676295603192
      positionAbsolute:
        x: 618.4243761723734
        y: 105.05676295603192
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1762968397084'
          - structured_output
          - questions
          variable_selector:
          - conversation
          - question
          write_mode: over-write
        selected: false
        title: Назначение переменной 4
        type: assigner
        version: '2'
      height: 83
      id: '1764093799038'
      position:
        x: 1434.3918870270477
        y: 293.5059449211261
      positionAbsolute:
        x: 1434.3918870270477
        y: 293.5059449211261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Отлично, давай я посмотрю твою статью свежим взглядом. Отправляй текст
          — вместе сделаем её ещё лучше :)
        selected: false
        title: Ответ 6
        type: answer
        variables: []
      height: 147
      id: '1764675296272'
      position:
        x: 1110.2018623319782
        y: 655.7084953226407
      positionAbsolute:
        x: 1110.2018623319782
        y: 655.7084953226407
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        template: "\r\n# \U0001F4DD Аудит статьи\r\n\r\n{% if issues and issues|length\
          \ > 0 %}\r\n### ⚠️ Найденные проблемы\r\n{% for issue in issues %}- {{ issue\
          \ }}\r\n{% endfor %}\r\n{% else %}\r\nВсе критические элементы статьи заполнены\
          \ корректно.\r\n{% endif %}\r\n\r\n{% if suggestions and suggestions|length\
          \ > 0 %}\r\n### \U0001F4A1 Рекомендации по улучшению\r\n{% for s in suggestions\
          \ %}- {{ s }}\r\n{% endfor %}\r\n{% endif %}\r\n\r\n{% if questions and\
          \ questions|length > 0 %}\r\n### ❓ Вопросы для уточнения\r\n{% for q in\
          \ questions %}- {{ q }}\r\n{% endfor %}\r\n{% endif %}\r\n\r\n### \U0001F4CA\
          \ Контекст полноты ключевых параметров\r\n- Цель функции: {% if context_completeness.purpose_clear\
          \ %}✅{% else %}❌{% endif %} — {{ context_completeness.purpose_clear_reason\
          \ }}\r\n- Пользовательский сценарий: {% if context_completeness.scenario_clear\
          \ %}✅{% else %}❌{% endif %} — {{ context_completeness.scenario_clear_reason\
          \ }}\r\n- Интерфейсные элементы: {% if context_completeness.interface_described\
          \ %}✅{% else %}❌{% endif %} — {{ context_completeness.interface_described_reason\
          \ }}\r\n- Логика работы системы: {% if context_completeness.behavior_detailed\
          \ %}✅{% else %}❌{% endif %} — {{ context_completeness.behavior_detailed_reason\
          \ }}\r\n- Ограничения и зависимости: {% if context_completeness.limitations_defined\
          \ %}✅{% else %}❌{% endif %} — {{ context_completeness.limitations_defined_reason\
          \ }}\r\n- Ожидаемый результат: {% if context_completeness.result_clear %}✅{%\
          \ else %}❌{% endif %} — {{ context_completeness.result_clear_reason }}\r\
          \n\r\n### \U0001F3C6 Общая оценка статьи\r\n{{ overall_score }}"
        title: Шаблон 2
        type: template-transform
        variables:
        - value_selector:
          - '1759251551848'
          - structured_output
          - issues
          value_type: object
          variable: issues
        - value_selector:
          - '1759251551848'
          - structured_output
          - suggestions
          value_type: object
          variable: suggestions
        - value_selector:
          - '1759251551848'
          - structured_output
          - questions
          value_type: object
          variable: questions
        - value_selector:
          - '1759251551848'
          - structured_output
          - context_completeness
          value_type: object
          variable: context_completeness
        - value_selector:
          - '1759251551848'
          - structured_output
          - overall_score
          value_type: object
          variable: overall_score
      height: 51
      id: '1764678080257'
      position:
        x: 1440.4547532930892
        y: 493.9497279407348
      positionAbsolute:
        x: 1440.4547532930892
        y: 493.9497279407348
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 171.5385786763361
      y: 207.35621324622588
      zoom: 0.32326738774873975
  rag_pipeline_variables: []
